Source: e17-extra-private-modules
Priority: extra
Maintainer: Seunggyun Kim <sgyun.kim@samsung.com>, Sohyun Kim <anna1014.kim@samsung.com>, Doyoun Kang <doyoun.kang@samsung.com>, Myoungwoon Kim <myoungwoon.kim@samsung.com>
Build-Depends: debhelper (>= 5), e17-dev, libslp-utilx-dev, libelm-dev, dlog-dev
Standards-Version: 3.8.3
Section: libs

Package: e17-extra-private-modules
Section: libs
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: The E17 Extra Private Modules 
 The E17 extra private modules consists of modules made by SAMSUNG.

Package: e17-extra-private-modules-dbg
Section: libs
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: The debug version of E17 Extra Private Modules 
 The E17 extra private modules consists of modules made by SAMSUNG.

